<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Oswald&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <div><span>home</span>
    </div>
    <div id="treść">
    </div>
    <div><h3>pierwsze kroki</h3>
    </div>
</head>
<body>
    <p class="lor">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quo quidem blanditiis doloribus temporibus iste cum, itaque cumque hic ea eum incidunt laborum cupiditate rem? Quia omnis similique possimus nulla cupiditate, magnam tempore reprehenderit placeat! Aperiam molestiae quis odit. Neque voluptas dolores id possimus aliquid reprehenderit illo ullam culpa, facilis esse tempora, explicabo expedita suscipit provident alias illum, cupiditate labore ipsa in libero. Nisi delectus, obcaecati eligendi at illum repudiandae labore ab a dignissimos ducimus eum dolor sequi, reiciendis, amet fugiat eius illo nulla consequuntur repellendus ipsam iste modi? Libero modi voluptas sequi fugit, blanditiis vitae qui quaerat sint assumenda?</p>

</body>
</html>